{% extends 'base.html' %}

{% block content %}
<div style="padding: 20px;">
    <h1>All Brands Motor Page</h1>
    <p>Brands Registered in the Brand Page:</p>
    <ul>
        {% load static %}
        <table class="table" style="width: 100%">
            <tr>
                <th>CC Motor</th>
                <th>Berat Motor</th>
                <th>Option</th>
            </tr>
            {% for size_motor in size_motors %}
            <tr>
                <td>{{ size_motor.name }}</td>
                <td>{{ size_motor.beratMotor }}</td>
                <td><a href="#" class="btn btn-success">Edit</a> <a href="#" class="btn btn-danger">Delete</a> <a href="#" class="btn btn-primary">Add New Brand</a></td>
            </tr>
            {% endfor %}
        </table>
    </ul>   
</div>
{% endblock %}